@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?t5pfox');
	src:url('fonts/icomoon.eot?#iefixt5pfox') format('embedded-opentype'),
		url('fonts/icomoon.woff?t5pfox') format('woff'),
		url('fonts/icomoon.ttf?t5pfox') format('truetype'),
		url('fonts/icomoon.svg?t5pfox#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-pawn:before {
	content: "\e601";
}
.icon-book:before {
	content: "\e602";
}
.icon-paste:before {
	content: "\e603";
}
.icon-calculate:before {
	content: "\e604";
}
.icon-user:before {
	content: "\e605";
}
.icon-star:before {
	content: "\e606";
}
.icon-heart:before {
	content: "\e607";
}
.icon-sad:before {
	content: "\e608";
}
.icon-wink:before {
	content: "\e609";
}
.icon-wink2:before {
	content: "\e60a";
}
.icon-confused:before {
	content: "\e60b";
}
.icon-confused2:before {
	content: "\e60c";
}
.icon-checkmark-circle:before {
	content: "\e60d";
}
.icon-volume-high:before {
	content: "\e60e";
}
.icon-volume-medium:before {
	content: "\e60f";
}
.icon-volume-low:before {
	content: "\e610";
}
.icon-youtube:before {
	content: "\e611";
}
.icon-heart2:before {
	content: "\e612";
}
.icon-star2:before {
	content: "\e613";
}
.icon-key:before {
	content: "\e614";
}
.icon-diamond:before {
	content: "\e615";
}
.icon-like:before {
	content: "\e616";
}
.icon-study:before {
	content: "\e617";
}
